.tableContainer{
    max-height: 83vh !important;
    min-width: 97vw !important;
    overflow: scroll;
    padding-right: 0;
    padding-left: 0;
    border: 1px solid lightgrey;
    box-shadow: 0 5px 25px 0 rgba(0, 113, 243,.4);

}

.tableContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
  }
  
  .tableContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(6, 66, 247, 0.5);
    box-shadow: 0 0 1px rgba(6, 66, 247, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(6, 66, 247, 0.5);
  }

.table{
    border-collapse: separate;
    margin-bottom: 0;
}

.thead{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}

.relative{
    position: relative;
  }
  
  .pointer{
      cursor: pointer;
  }
  
  .loaderContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(127,127,127,0.5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  