.footer {
    width: 100%;
    max-width: 832px;
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding: 20px 0;
    border: 1px solid rgb(207, 241, 252,0.8);
  }

  .icons{
    margin-right: 15px;
    padding: 12px 5px;
    background-color: #0070f3;
    cursor: pointer;
    border-radius: 20px;
  }

  .icons:hover{
    border-color: #0070f3;
    box-shadow: 0px 5px 25px 0 rgba(0, 113, 243, 0.4);
  }