.container{
    width: 90.7%;
    max-width: 800px;
    padding: 1.5rem;
    margin: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
}

.container:hover{
    color: #0070f3;
    border-color: #0070f3;
    box-shadow: 0 5px 25px 0 rgba(0, 113, 243,.4);
}