.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding: 0 15px;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.einstein {
  background-image: url("../public/images/Einstein.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: cover;
  padding: 2rem;
  border-radius: 10px;
  color: white;
  position: relative;
  border-color: #0070f3;
  box-shadow: 15px 15px 25px 0 rgba(0, 113, 243, 0.4);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
